* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
/* Navbar*/
#navbar {
    padding: 0, 15px;
    height: 90px;
    display: flex;
    /*yan yana olmasını sağlar*/
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

#navbar h1 {
    font-family: 'Pinyon Script', cursive;
    padding-left: 1.5rem;
    font-size: 30px;
    color: #d9b3ff;
}

#navbar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1.5rem;
    align-items: center;

}

#navbar ul li a {
    color: #fff;
    padding: 1.0rem;
    text-decoration: none;
    /* linklerin altındaki çizgiyi siler*/

    
}

#navbar ul li a:hover {
    background-color: #d9b3ff;
    color: #660066;
    border-radius: 6px;
}
/*Home*/
#home{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 2rem;
border-bottom: 1px solid #660066;
background-color: #c4b7d3;
}

#home img{
    width: 300px;
    height:auto ;
    border-radius:100%;
    border: 1px solid #660066;
    
}
#home h2{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    color: #660066;
}
#home p{
    opacity: 0.6;
    font-style: italic;
    color: #fff;
  
}
#home a {
    text-decoration: none;  
}

#training{ 
    background-color: #660066;
    color: #fff;
}
#training h2{
  padding-top: 2rem;
}
#training .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5rem;
    padding-top: 2rem;
   
}
#training .items .item
{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
    font-style: italic;
}
#training .items .item:hover{
    color: rgb(166, 147, 180);
    background-color: #fff;
    border-radius: 20px;
}

/*Fotograflar*/

#Fotografİcerik{
    color: #333;
    padding: 1rem;
}

/*grid*/

#grid {
    background-color: #030303;
   
}
.grid-container{
  
   display: flex;
   flex-wrap: wrap;
   align-items: center;
    margin-left: 5%;
    background-color: #ff5d5d;
    
}

.grid-item {
    margin: 50px 15px;
    border-radius: .4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .9);
    cursor: pointer;
    transition: inherit;
    width: calc(25% - 30px);
}

.grid-item:hover {
    transform: translateY(-.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}

.card .img {
    display: block;
    width: 100%;
}

.card .card-content {
    padding: 1rem 1rem;
}

.card .card-header {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ff5d5d;
    margin-bottom: 1.5rem;
}
.card .card-text{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: 1.7;
    margin-bottom: 2.5rem;
}
.card .card-content .card-img
{
    display: block;
    width: 200px;
    height:100px;
    margin: 0px 0 77px 23px;
}
.card .card-content .card_btn{
    width: 20px;
}

