#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom:0.5rem ;
    overflow: hidden;
}
#training .items {

 display: flex;
 flex-direction: column;
 margin: 0 25px;
}
#training .items .item{
    width: 100%;
    padding: 0 2rem;
    border-top: 1px solid #fff;
    border-radius: 7px;
   
}